body {
  background-color: #D6DDE1 !important;
  font-family: 'Nanum Gothic', sans-serif !important;
  counter-reset: figures;
  counter-reset: tables;
}

figure {
  figcaption::before {
    counter-increment: figures;
    content: "Figure " counter(figures) ": ";
  }

  max-width: 992px;
	padding: 10px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,.25);
}

table {
  caption::before {
    counter-increment: tables;
    content: "Table " counter(tables) ": ";
  }
}

figcaption {
  padding: .75em 10px;
	font-size: 1em;
	line-height: 1.5em;
}

// navbar
.navbar-brand {
  line-height:12px;
  padding-top:10px;
  padding-bottom:5px;
}

.navbar-brand small {
  display:block;
  padding-top:10px;
  font-size:10px;
}

.post-image:hover {
    opacity: 0.7;
}

.post-image-raw {
    max-width: 100%;
    height: "auto";
}

blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
    margin-bottom: 16px;
    margin-top: 0;
  }
  
blockquote>:first-child {
    margin-top: 0;
  }
  
blockquote>:last-child {
    margin-bottom: 0;
}